workflows/G9pKIURCoiKjllQH.json
{
  "active": false,
  "connections": {
    "AI Agent1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phân Tích": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Phân Tích",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Phân Tích",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tiện Ích Mọi Nhà - caodungiib1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request15": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-14T05:38:02.711Z",
  "id": "G9pKIURCoiKjllQH",
  "isArchived": false,
  "meta": null,
  "name": "Rep Bính Luận + Nhăn Tin - Page Gia Dụng 2",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=**Bạn chỉ cần trả về đúng một câu duy nhất, không giải thích, không mô tả, không giới thiệu.\nHãy viết một câu tương tự câu mẫu sau, có sử dụng icon để câu nói sinh động hơn:\n\"Chào bạn, mình gửi bạn link sản phẩm nhé ạ: {{ $('Code1').item.json.LinkShopee }}\"\nLưu ý:\n- Giữ nguyên hoàn toàn chuỗi: {{ $('Code1').item.json.LinkShopee }}\n- Không thêm text trước câu trả lời.\n- Chỉ trả về câu hoàn chỉnh dạng như:\n\"Chào bạn 👋, mình gửi bạn link sản phẩm nè, xem thử nha: {{ $('Code1').item.json.LinkShopee }} ✨\"**",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        2832,
        528
      ],
      "id": "65ad5b9d-8e40-49f9-8197-8ad99971ab20",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI",
          "mode": "list",
          "cachedResultName": "Đăng Bài Tự Động",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1795023390,
          "mode": "list",
          "cachedResultName": "Đăng Page Gia Dụng",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit#gid=1795023390"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID Post",
              "lookupValue": "={{ $('Webhook1').item.json.body.entry[0].changes[0].value.comment_id.split('_')[0] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1120,
        544
      ],
      "id": "01ddc126-f286-4681-9daf-c6f7c79d447f",
      "name": "Google Sheets",
      "credentials": {
        "googleApi": {
          "id": "xWSmmGGfnRVMBnSN",
          "name": "Driver - Sheet"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ee087355-1f0d-49c4-b08a-eab36d598a24",
              "leftValue": "={{ $('Google Sheets').item.json[\"Link Shopee\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1472,
        544
      ],
      "id": "9b7b810b-0957-4852-b68c-5bd4c8b79795",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "8541624586",
        "text": "=Bài này đang chưa có link shopee nè: \n<a href=\"{{ $('Google Sheets').item.json['Link Video Tiktok'] }}\">Xem video TikTok</a>\n<a href=\"{{ $json['Link Post'] }}\">Xem video Facebook</a>",
        "replyMarkup": "forceReply",
        "forceReply": {},
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1728,
        880
      ],
      "id": "6155e474-e7e0-427e-a6bf-d5ffa4ee3718",
      "name": "Telegram",
      "webhookId": "c8f16196-d76b-439c-936d-a731d4266b45",
      "notesInFlow": true,
      "credentials": {
        "telegramApi": {
          "id": "Kq4TDtKCUWlBemEx",
          "name": "Telegram"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "callback_query",
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -176,
        -80
      ],
      "id": "36faf4cb-ee41-43d7-91aa-51ff31702b8e",
      "name": "Telegram Trigger",
      "webhookId": "08cc14c5-9eb6-4685-b847-7012f926b121",
      "notesInFlow": true,
      "credentials": {
        "telegramApi": {
          "id": "Kq4TDtKCUWlBemEx",
          "name": "Telegram"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI",
          "mode": "list",
          "cachedResultName": "Đăng Bài Tự Động",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1795023390,
          "mode": "list",
          "cachedResultName": "Đăng Page Gia Dụng",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit#gid=1795023390"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Link Post": "={{ $json.message.reply_to_message.entities[1].url }}",
            "Link Shopee": "={{ $json.message.text }}"
          },
          "matchingColumns": [
            "Link Post"
          ],
          "schema": [
            {
              "id": "Link Video Tiktok",
              "displayName": "Link Video Tiktok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Content Mẫu",
              "displayName": "Content Mẫu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link Hình Ảnh Hoặc Video",
              "displayName": "Link Hình Ảnh Hoặc Video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Dạng Nội Dung",
              "displayName": "Dạng Nội Dung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng Thái Đăng",
              "displayName": "Trạng Thái Đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID Post",
              "displayName": "ID Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link Post",
              "displayName": "Link Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link Shopee",
              "displayName": "Link Shopee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng Thái Bình Luận",
              "displayName": "Trạng Thái Bình Luận",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Đăng Story",
              "displayName": "Đăng Story",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        112,
        -80
      ],
      "id": "8637e3c8-6918-4ce0-a221-ac429b347536",
      "name": "Google Sheets2",
      "alwaysOutputData": false,
      "credentials": {
        "googleApi": {
          "id": "xWSmmGGfnRVMBnSN",
          "name": "Driver - Sheet"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v24.0/{{ $('Webhook1').item.json.body.entry[0].changes[0].value.comment_id }}/comments ",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.output }}"
            },
            {
              "name": "access_token",
              "value": "={{ $('HTTP Request1').item.json.body.access_token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3248,
        528
      ],
      "id": "2cbf9d1d-4d69-44ef-a816-831d6bc2aa10",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI",
          "mode": "list",
          "cachedResultName": "Đăng Bài Tự Động",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1795023390,
          "mode": "list",
          "cachedResultName": "Đăng Page Gia Dụng",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit#gid=1795023390"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Link Post": "={{ $('Google Sheets').item.json['Link Post'] }}",
            "Trạng Thái Bình Luận": "={{ \n  $('Webhook1').item.json.body.entry[0].changes[0].value.post_id \n  + '\\n' + \n  $('Webhook1').item.json.body.entry[0].changes[0].value.comment_id \n}}"
          },
          "matchingColumns": [
            "Link Post"
          ],
          "schema": [
            {
              "id": "Link Video Tiktok",
              "displayName": "Link Video Tiktok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Content Mẫu",
              "displayName": "Content Mẫu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link Hình Ảnh Hoặc Video",
              "displayName": "Link Hình Ảnh Hoặc Video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Dạng Nội Dung",
              "displayName": "Dạng Nội Dung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng Thái Đăng",
              "displayName": "Trạng Thái Đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID Post",
              "displayName": "ID Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link Post",
              "displayName": "Link Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link Shopee",
              "displayName": "Link Shopee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng Thái Bình Luận",
              "displayName": "Trạng Thái Bình Luận",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Đăng Story",
              "displayName": "Đăng Story",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1472,
        880
      ],
      "id": "ba45c2ff-4c25-40ab-891b-115223b92bf2",
      "name": "Google Sheets3",
      "credentials": {
        "googleApi": {
          "id": "xWSmmGGfnRVMBnSN",
          "name": "Driver - Sheet"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v24.0/{{ $('Google Sheets').item.json['Trạng Thái Đăng'] }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "name,access_token"
            },
            {
              "name": "access_token",
              "value": "EAATc2rOiDYsBP1CmYOwZAf8pNcZCZB6UMVCYc5rkzWJDOuI3oQG4cq3ZAjlLVHRZAt4WZCjBVeqB7i7YTCY65S7V9wHXEIHtL8JqVZAc3WNNReRjMsOaVgo3ifzUP4EN8HyeNnlBszqxtGstT2iweHlZAVVDjmaP6GDXy2DgZCyHZAy9aXJ961IXkrNzxwWnBZB"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1952,
        528
      ],
      "id": "58a464e5-41f4-418e-bffe-dafc97c45d9b",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "82a17fd2-ce5c-4957-ba4d-e55b0ec133a2",
              "leftValue": "={{ $json.output }}",
              "rightValue": "=user",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "25d6310d-d017-4bea-b849-a2d0fcc53602",
              "leftValue": "={{ $json.output }}",
              "rightValue": "User",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        816,
        560
      ],
      "id": "d8f72910-e33c-449a-81a5-f2b9dfa07a20",
      "name": "If1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=**Bạn chỉ cần trả về đúng một câu duy nhất, không giải thích, không mô tả, không giới thiệu.\nHãy viết một câu tương tự câu mẫu sau, có sử dụng icon để câu nói sinh động hơn:\n\"Chào bạn, mình gửi bạn link sản phẩm nhé ạ: {{ $('Code3').item.json.LinkShopee }}\"\nLưu ý:\n- Giữ nguyên hoàn toàn chuỗi: {{ $('Code3').item.json.LinkShopee }}\n- Không thêm text trước câu trả lời.\n- Chỉ trả về câu hoàn chỉnh dạng như:\n\"Chào bạn 👋, mình gửi bạn link sản phẩm nè, xem thử nha: {{ $('Code3').item.json.LinkShopee }} ✨\"**",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1584,
        48
      ],
      "id": "2448a5bb-ec61-4f62-9e93-5137c95b08d7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1536,
        272
      ],
      "id": "c1b82856-64ad-4de3-be89-b9d9b3842269",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v24.0/{{ $('Loop Over Items').item.json.comment_status }}/comments ",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.output }}"
            },
            {
              "name": "access_token",
              "value": "={{ $('HTTP Request3').item.json.body.access_token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2016,
        48
      ],
      "id": "2b315317-7c29-4382-b4a9-025e485e4ba1",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v24.0/{{ $json['Trạng Thái Đăng'] }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "name,access_token"
            },
            {
              "name": "access_token",
              "value": "EAATc2rOiDYsBP1CmYOwZAf8pNcZCZB6UMVCYc5rkzWJDOuI3oQG4cq3ZAjlLVHRZAt4WZCjBVeqB7i7YTCY65S7V9wHXEIHtL8JqVZAc3WNNReRjMsOaVgo3ifzUP4EN8HyeNnlBszqxtGstT2iweHlZAVVDjmaP6GDXy2DgZCyHZAy9aXJ961IXkrNzxwWnBZB"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        -80
      ],
      "id": "93c74e97-8de8-4395-8813-ae91e3cd5f6f",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI",
          "mode": "list",
          "cachedResultName": "Đăng Bài Tự Động",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1795023390,
          "mode": "list",
          "cachedResultName": "Đăng Page Gia Dụng",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit#gid=1795023390"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Link Post",
              "lookupValue": "={{ $json['Link Post'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        368,
        -80
      ],
      "id": "d9b51ca1-0e0f-4d1a-855e-4c5c6542cb18",
      "name": "Google Sheets1",
      "credentials": {
        "googleApi": {
          "id": "xWSmmGGfnRVMBnSN",
          "name": "Driver - Sheet"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.entry[0].changes[0].value.from.id }}",
        "options": {
          "systemMessage": "Nếu user có số 603490756190502, hãy trả lời \"Page\". Nếu user có số 714667461724221, hãy trả lời \"Page\". Nếu user có số 656708390864429, hãy trả lời \"Page\". Nếu user có số 663128990217389, hãy trả lời \"Page\".Nếu user có tên Gia Dụng Giá Tốt, hãy trả lời \"Page\".Nếu user có số 692768803911413, hãy trả lời \"Page\".Nếu user có tên Tổng Kho Gia Dụng, hãy trả lời \"Page\". Còn lại sẽ trả lời \" user\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        448,
        560
      ],
      "id": "e9001b23-e13b-4067-b044-b47e424411b2",
      "name": "Phân Tích"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        464,
        784
      ],
      "id": "6670a238-1d38-496c-82a0-a21fa19cdfa4",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "vly0HfuTuu7swd30",
          "name": "Phân Tích"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "823da096-60b5-41e4-ba11-96a6e29ccf0b",
              "leftValue": "={{ $('Webhook1').item.json.body.entry[0].changes[0].value.comment_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        576
      ],
      "id": "ac2e4c74-b1f3-43e8-b75b-88ed94a0de47",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "59c73f6b-a4ea-4005-9038-877fb03104b5",
              "leftValue": "={{ $('Google Sheets').item.json['Trạng Thái Bình Luận'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        976
      ],
      "id": "55328363-dc2f-4cf0-85b0-c0f03b91be05",
      "name": "If3"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI",
          "mode": "list",
          "cachedResultName": "Đăng Bài Tự Động",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1795023390,
          "mode": "list",
          "cachedResultName": "Đăng Page Gia Dụng",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit#gid=1795023390"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Link Post": "={{ $('Google Sheets').item.json['Link Post'] }}",
            "Trạng Thái Bình Luận": "={{ $('Google Sheets').item.json['Trạng Thái Bình Luận'] + '\\n' + $('Webhook1').item.json.body.entry[0].changes[0].value.comment_id }}"
          },
          "matchingColumns": [
            "Link Post"
          ],
          "schema": [
            {
              "id": "Link Video Tiktok",
              "displayName": "Link Video Tiktok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Content Mẫu",
              "displayName": "Content Mẫu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link Hình Ảnh Hoặc Video",
              "displayName": "Link Hình Ảnh Hoặc Video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Dạng Nội Dung",
              "displayName": "Dạng Nội Dung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng Thái Đăng",
              "displayName": "Trạng Thái Đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID Post",
              "displayName": "ID Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link Post",
              "displayName": "Link Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link Shopee",
              "displayName": "Link Shopee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng Thái Bình Luận",
              "displayName": "Trạng Thái Bình Luận",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Đăng Story",
              "displayName": "Đăng Story",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1472,
        1072
      ],
      "id": "d73869d1-9e79-418b-9993-ae4d13ece57a",
      "name": "Google Sheets4",
      "credentials": {
        "googleApi": {
          "id": "xWSmmGGfnRVMBnSN",
          "name": "Driver - Sheet"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1136,
        -80
      ],
      "id": "8fc0e2a3-7490-4903-ae2a-5b54dcb3ba73",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// Lấy dữ liệu từ Google Sheets\nconst inputString = $('Google Sheets1').item.json[\"Trạng Thái Bình Luận\"]; \n// Hoặc nếu muốn dùng expression trực tiếp:\n// const inputString = $('Google Sheets1').item.json['Trạng Thái Bình Luận'];\n\n// Tách từng dòng, loại bỏ khoảng trắng và dòng rỗng\nconst linesArray = inputString\n  .split('\\n')\n  .map(line => line.trim())\n  .filter(line => line !== \"\");\n\n// Trả về mảng object để n8n xử lý tiếp\nreturn linesArray.map(line => ({ comment_status: line }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -80
      ],
      "id": "bbae5125-69b3-49f5-8c09-7d7a85087232",
      "name": "Code"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2224,
        48
      ],
      "id": "b4490be3-ae01-44c6-839f-9d3ae290c575",
      "name": "Wait",
      "webhookId": "311f3e9d-3397-47b2-b139-6abe588fa274"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2832,
        704
      ],
      "id": "731f7094-2043-4f54-83e9-25f36cb51319",
      "name": "Tiện Ích Mọi Nhà - caodungiib1"
    },
    {
      "parameters": {
        "jsCode": "// Lấy chuỗi link từ Google Sheets\nconst gs = $item(0).$node[\"Google Sheets\"].json;\nconst text = gs[\"Link Shopee\"];\n\n// Tách theo xuống dòng (cả \\n hoặc \\r\\n)\nconst links = text.split(/\\r?\\n/).map(l => l.trim()).filter(l => l !== '');\n\n// Random 1 link trong danh sách\nconst randomLink = links[Math.floor(Math.random() * links.length)];\n\n// Tạo đoạn random để tránh spam Facebook\nconst randomParam = Math.random().toString(36).substring(2, 8);\n\n// Gắn UTM/tham số random vào link Shopee\nconst finalLink = `${randomLink}?fb=${randomParam}`;\n\nreturn [\n  {\n    json: {\n      LinkShopee: finalLink\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        544
      ],
      "id": "aa9c7076-9436-4aec-a221-c2061821f42c",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "// Lấy chuỗi link từ Google Sheets\nconst gs = $item(0).$node[\"Google Sheets1\"].json;\nconst text = gs[\"Link Shopee\"];\n\n// Tách theo xuống dòng (cả \\n hoặc \\r\\n)\nconst links = text.split(/\\r?\\n/).map(l => l.trim()).filter(l => l !== '');\n\n// Random 1 link trong danh sách\nconst randomLink = links[Math.floor(Math.random() * links.length)];\n\n// Tạo đoạn random để tránh spam Facebook\nconst randomParam = Math.random().toString(36).substring(2, 8);\n\n// Gắn UTM/tham số random vào link Shopee\nconst finalLink = `${randomLink}?fb=${randomParam}`;\n\nreturn [\n  {\n    json: {\n      LinkShopee: finalLink\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        48
      ],
      "id": "8b3f9dd8-b69f-4a25-8af6-f73b8bd57203",
      "name": "Code3"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1744,
        528
      ],
      "id": "b41e678e-bea9-42a6-abf0-4f7149981870",
      "name": "Wait1",
      "webhookId": "3c2cbbe6-ddae-4a7a-b2cb-2b206905c6ba"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v24.0/{{ $('Webhook1').item.json.body.entry[0].changes[0].value.comment_id }}/comments",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('HTTP Request1').item.json.body.access_token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2144,
        528
      ],
      "id": "8d0b3626-4ab3-435b-8ed6-16134e4c2f6d",
      "name": "HTTP Request15"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json.body.data;\n\n// Nếu mảng data có ít nhất 1 reply\nif (Array.isArray(data) && data.length > 0) {\n    return [{ status: \"ĐÃ REP COMMENT\", replied: true }];\n} else {\n    return [{ status: \"CHƯA REP COMMENT\", replied: false }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        528
      ],
      "id": "ef80d4a0-51bf-4244-9381-f6133472a945",
      "name": "Code4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "84d5de05-ac51-4114-9f62-39f27f715d15",
              "leftValue": "={{ $json.status }}",
              "rightValue": "CHƯA REP COMMENT",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2560,
        528
      ],
      "id": "d8d721b9-ab9e-4afd-8050-8528b7e55c06",
      "name": "If4"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        16,
        384
      ],
      "id": "07a86d03-642c-445e-ae83-e859780b9244",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        16,
        576
      ],
      "id": "276a68fc-009f-4dd0-ad0f-afc9f1186123",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "multipleMethods": true,
        "path": "Comment",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -208,
        560
      ],
      "id": "c114ccff-5b51-483b-a4f2-e13715dbeb56",
      "name": "Webhook1",
      "webhookId": "648175ce-c8ec-4ea5-81a9-a5e091c9054b"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-01-14T05:38:02.716Z",
      "updatedAt": "2026-01-14T05:38:02.716Z",
      "role": "workflow:owner",
      "workflowId": "G9pKIURCoiKjllQH",
      "projectId": "VvOpQREyNmeQDBZe"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-14T05:38:02.711Z",
  "versionId": "c18ddf7f-7417-4a6b-b8b6-b22e3b1b7e55"
}