workflows/OuGNpyXHCwobOByD.json
{
  "active": false,
  "connections": {
    "AI Agent1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        []
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phân Tích": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Phân Tích",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Phân Tích",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "HTTP Request16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "HTTP Request17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent4": {
      "main": [
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request9": {
      "main": [
        [
          {
            "node": "HTTP Request18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent5": {
      "main": [
        [
          {
            "node": "HTTP Request10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent5",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request11": {
      "main": [
        [
          {
            "node": "HTTP Request19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tiện Ích Mọi Nhà - caodungiib1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "HTTP Request9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "HTTP Request11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request15": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request16": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request17": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request18": {
      "main": [
        [
          {
            "node": "Code7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code7": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request19": {
      "main": [
        [
          {
            "node": "Code8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code8": {
      "main": [
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "node": "AI Agent5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-03T03:23:06.042Z",
  "id": "OuGNpyXHCwobOByD",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Rep Bính Luận + Nhăn Tin",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=**Bạn chỉ cần trả về đúng một câu duy nhất, không giải thích, không mô tả, không giới thiệu.\nHãy viết một câu tương tự câu mẫu sau, có sử dụng icon để câu nói sinh động hơn:\n\"Chào bạn, mình gửi bạn link sản phẩm nhé ạ: {{ $('Code1').item.json.LinkShopee }}\"\nLưu ý:\n- Giữ nguyên hoàn toàn chuỗi: {{ $('Code1').item.json.LinkShopee }}\n- Không thêm text trước câu trả lời.\n- Chỉ trả về câu hoàn chỉnh dạng như:\n\"Chào bạn 👋, mình gửi bạn link sản phẩm nè, xem thử nha: {{ $('Code1').item.json.LinkShopee }} ✨\"**",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        4592,
        64
      ],
      "id": "37034556-619a-475f-bbfb-0af74b009d2a",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI",
          "mode": "list",
          "cachedResultName": "Đăng Bài Tự Động",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1795023390,
          "mode": "list",
          "cachedResultName": "Đăng Page Gia Dụng",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit#gid=1795023390"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID Post",
              "lookupValue": "={{ $('Webhook1').item.json.body.entry[0].changes[0].value.comment_id.split('_')[0] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1840,
        688
      ],
      "id": "57397170-ace7-4848-9c42-d8179870739a",
      "name": "Google Sheets",
      "credentials": {
        "googleApi": {
          "id": "xWSmmGGfnRVMBnSN",
          "name": "Driver - Sheet"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ee087355-1f0d-49c4-b08a-eab36d598a24",
              "leftValue": "={{ $('Google Sheets').item.json[\"Link Shopee\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2192,
        688
      ],
      "id": "1503b102-7454-4865-a6e6-aad97a5df5df",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "5553479863",
        "text": "=Bài này đang chưa có link shopee nè: \n<a href=\"{{ $('Google Sheets').item.json['Link Video Tiktok'] }}\">Xem video TikTok</a>\n<a href=\"{{ $json['Link Post'] }}\">Xem video Facebook</a>",
        "replyMarkup": "forceReply",
        "forceReply": {},
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2400,
        1328
      ],
      "id": "7cb0f229-e077-46e4-82b7-4da17d649aa0",
      "name": "Telegram",
      "webhookId": "c8f16196-d76b-439c-936d-a731d4266b45",
      "notesInFlow": true,
      "credentials": {
        "telegramApi": {
          "id": "Kq4TDtKCUWlBemEx",
          "name": "Telegram"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "callback_query",
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        800,
        -368
      ],
      "id": "3f9104e4-59c5-42ae-8fde-2627ea7dfb86",
      "name": "Telegram Trigger",
      "webhookId": "08cc14c5-9eb6-4685-b847-7012f926b121",
      "notesInFlow": true,
      "credentials": {
        "telegramApi": {
          "id": "Kq4TDtKCUWlBemEx",
          "name": "Telegram"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI",
          "mode": "list",
          "cachedResultName": "Đăng Bài Tự Động",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1795023390,
          "mode": "list",
          "cachedResultName": "Đăng Page Gia Dụng",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit#gid=1795023390"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Link Post": "={{ $json.message.reply_to_message.entities[1].url }}",
            "Link Shopee": "={{ $json.message.text }}"
          },
          "matchingColumns": [
            "Link Post"
          ],
          "schema": [
            {
              "id": "Link Video Tiktok",
              "displayName": "Link Video Tiktok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Content Mẫu",
              "displayName": "Content Mẫu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link Hình Ảnh Hoặc Video",
              "displayName": "Link Hình Ảnh Hoặc Video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Dạng Nội Dung",
              "displayName": "Dạng Nội Dung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng Thái Đăng",
              "displayName": "Trạng Thái Đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID Post",
              "displayName": "ID Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link Post",
              "displayName": "Link Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link Shopee",
              "displayName": "Link Shopee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng Thái Bình Luận",
              "displayName": "Trạng Thái Bình Luận",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Đăng Story",
              "displayName": "Đăng Story",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1088,
        -368
      ],
      "id": "cbd64518-4b1c-4ae6-a853-b23caf368170",
      "name": "Google Sheets2",
      "alwaysOutputData": false,
      "credentials": {
        "googleApi": {
          "id": "xWSmmGGfnRVMBnSN",
          "name": "Driver - Sheet"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v24.0/{{ $('Webhook1').item.json.body.entry[0].changes[0].value.comment_id }}/comments ",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.output }}"
            },
            {
              "name": "access_token",
              "value": "={{ $('HTTP Request1').item.json.body.access_token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5008,
        64
      ],
      "id": "f744451c-d6cc-4df8-a00f-89cf305c8012",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI",
          "mode": "list",
          "cachedResultName": "Đăng Bài Tự Động",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1795023390,
          "mode": "list",
          "cachedResultName": "Đăng Page Gia Dụng",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit#gid=1795023390"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Link Post": "={{ $('Google Sheets').item.json['Link Post'] }}",
            "Trạng Thái Bình Luận": "={{ \n  $('Webhook1').item.json.body.entry[0].changes[0].value.post_id \n  + '\\n' + \n  $('Webhook1').item.json.body.entry[0].changes[0].value.comment_id \n}}"
          },
          "matchingColumns": [
            "Link Post"
          ],
          "schema": [
            {
              "id": "Link Video Tiktok",
              "displayName": "Link Video Tiktok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Content Mẫu",
              "displayName": "Content Mẫu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link Hình Ảnh Hoặc Video",
              "displayName": "Link Hình Ảnh Hoặc Video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Dạng Nội Dung",
              "displayName": "Dạng Nội Dung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng Thái Đăng",
              "displayName": "Trạng Thái Đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID Post",
              "displayName": "ID Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link Post",
              "displayName": "Link Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link Shopee",
              "displayName": "Link Shopee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng Thái Bình Luận",
              "displayName": "Trạng Thái Bình Luận",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Đăng Story",
              "displayName": "Đăng Story",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2144,
        1328
      ],
      "id": "915b98ff-b3b3-404d-b75a-37e8f3a4859d",
      "name": "Google Sheets3",
      "credentials": {
        "googleApi": {
          "id": "xWSmmGGfnRVMBnSN",
          "name": "Driver - Sheet"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v24.0/{{ $('Google Sheets').item.json['Trạng Thái Đăng'] }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "name,access_token"
            },
            {
              "name": "access_token",
              "value": "EAATc2rOiDYsBP1CmYOwZAf8pNcZCZB6UMVCYc5rkzWJDOuI3oQG4cq3ZAjlLVHRZAt4WZCjBVeqB7i7YTCY65S7V9wHXEIHtL8JqVZAc3WNNReRjMsOaVgo3ifzUP4EN8HyeNnlBszqxtGstT2iweHlZAVVDjmaP6GDXy2DgZCyHZAy9aXJ961IXkrNzxwWnBZB"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3712,
        64
      ],
      "id": "7ff84e12-0a5c-4eeb-ad2d-7939dba307ef",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "82a17fd2-ce5c-4957-ba4d-e55b0ec133a2",
              "leftValue": "={{ $json.output }}",
              "rightValue": "=user",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "25d6310d-d017-4bea-b849-a2d0fcc53602",
              "leftValue": "={{ $json.output }}",
              "rightValue": "User",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1600,
        704
      ],
      "id": "215d6a0f-e352-429f-bfd4-644524a953ed",
      "name": "If1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=**Bạn chỉ cần trả về đúng một câu duy nhất, không giải thích, không mô tả, không giới thiệu.\nHãy viết một câu tương tự câu mẫu sau, có sử dụng icon để câu nói sinh động hơn:\n\"Chào bạn, mình gửi bạn link sản phẩm nhé ạ: {{ $('Code3').item.json.LinkShopee }}\"\nLưu ý:\n- Giữ nguyên hoàn toàn chuỗi: {{ $('Code3').item.json.LinkShopee }}\n- Không thêm text trước câu trả lời.\n- Chỉ trả về câu hoàn chỉnh dạng như:\n\"Chào bạn 👋, mình gửi bạn link sản phẩm nè, xem thử nha: {{ $('Code3').item.json.LinkShopee }} ✨\"**",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        2560,
        -240
      ],
      "id": "688c2652-49e7-4f8d-b9bd-6458f6006ffa",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2512,
        -16
      ],
      "id": "6fec107f-041b-47a8-b377-d9389ba58235",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ui0ULTnV5CioljxV",
          "name": "Rep Commet"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v24.0/{{ $('Loop Over Items').item.json.comment_status }}/comments ",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.output }}"
            },
            {
              "name": "access_token",
              "value": "={{ $('HTTP Request3').item.json.body.access_token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2992,
        -240
      ],
      "id": "024957e6-354f-4143-b017-8dd10cba3bd1",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v24.0/{{ $json['Trạng Thái Đăng'] }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "name,access_token"
            },
            {
              "name": "access_token",
              "value": "EAATc2rOiDYsBP1CmYOwZAf8pNcZCZB6UMVCYc5rkzWJDOuI3oQG4cq3ZAjlLVHRZAt4WZCjBVeqB7i7YTCY65S7V9wHXEIHtL8JqVZAc3WNNReRjMsOaVgo3ifzUP4EN8HyeNnlBszqxtGstT2iweHlZAVVDjmaP6GDXy2DgZCyHZAy9aXJ961IXkrNzxwWnBZB"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        -368
      ],
      "id": "29479282-6f75-4105-b8f3-9c3be284f6d9",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI",
          "mode": "list",
          "cachedResultName": "Đăng Bài Tự Động",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1795023390,
          "mode": "list",
          "cachedResultName": "Đăng Page Gia Dụng",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit#gid=1795023390"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Link Post",
              "lookupValue": "={{ $json['Link Post'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1344,
        -368
      ],
      "id": "58ce382a-b45d-4418-9167-1bc2682f7f61",
      "name": "Google Sheets1",
      "credentials": {
        "googleApi": {
          "id": "xWSmmGGfnRVMBnSN",
          "name": "Driver - Sheet"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.entry[0].changes[0].value.from.id }}",
        "options": {
          "systemMessage": "Nếu user có số 603490756190502, hãy trả lời \"Page\". Nếu user có số 714667461724221, hãy trả lời \"Page\". Nếu user có số 656708390864429, hãy trả lời \"Page\". Nếu user có số 663128990217389, hãy trả lời \"Page\".Nếu user có tên Gia Dụng Giá Tốt, hãy trả lời \"Page\". Còn lại sẽ trả lời \" user\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1264,
        704
      ],
      "id": "d4315e11-1e07-4b18-921e-d468b23a2364",
      "name": "Phân Tích"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1312,
        928
      ],
      "id": "2a7ce7d2-6eb9-4e1e-8c55-a8547a0cb674",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "vly0HfuTuu7swd30",
          "name": "Phân Tích"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "823da096-60b5-41e4-ba11-96a6e29ccf0b",
              "leftValue": "={{ $('Webhook1').item.json.body.entry[0].changes[0].value.comment_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1040,
        720
      ],
      "id": "82800bee-5381-4355-8a28-f33d41771e78",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "59c73f6b-a4ea-4005-9038-877fb03104b5",
              "leftValue": "={{ $('Google Sheets').item.json['Trạng Thái Bình Luận'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1792,
        1424
      ],
      "id": "1488d36b-3791-4985-a8e4-fc292122e60d",
      "name": "If3"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI",
          "mode": "list",
          "cachedResultName": "Đăng Bài Tự Động",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1795023390,
          "mode": "list",
          "cachedResultName": "Đăng Page Gia Dụng",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kEnK_MDgJ1iKhjqXU-odhyJmXuzvtOxVrdQyrwvwUoI/edit#gid=1795023390"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Link Post": "={{ $('Google Sheets').item.json['Link Post'] }}",
            "Trạng Thái Bình Luận": "={{ $('Google Sheets').item.json['Trạng Thái Bình Luận'] + '\\n' + $('Webhook1').item.json.body.entry[0].changes[0].value.comment_id }}"
          },
          "matchingColumns": [
            "Link Post"
          ],
          "schema": [
            {
              "id": "Link Video Tiktok",
              "displayName": "Link Video Tiktok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Content Mẫu",
              "displayName": "Content Mẫu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link Hình Ảnh Hoặc Video",
              "displayName": "Link Hình Ảnh Hoặc Video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Dạng Nội Dung",
              "displayName": "Dạng Nội Dung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng Thái Đăng",
              "displayName": "Trạng Thái Đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID Post",
              "displayName": "ID Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link Post",
              "displayName": "Link Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link Shopee",
              "displayName": "Link Shopee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng Thái Bình Luận",
              "displayName": "Trạng Thái Bình Luận",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Đăng Story",
              "displayName": "Đăng Story",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2144,
        1520
      ],
      "id": "707fc40d-cdc9-444d-a7f8-246d27e93044",
      "name": "Google Sheets4",
      "credentials": {
        "googleApi": {
          "id": "xWSmmGGfnRVMBnSN",
          "name": "Driver - Sheet"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2112,
        -368
      ],
      "id": "c0f06e67-6b6c-4d13-839d-722560d8f465",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// Lấy dữ liệu từ Google Sheets\nconst inputString = $('Google Sheets1').item.json[\"Trạng Thái Bình Luận\"]; \n// Hoặc nếu muốn dùng expression trực tiếp:\n// const inputString = $('Google Sheets1').item.json['Trạng Thái Bình Luận'];\n\n// Tách từng dòng, loại bỏ khoảng trắng và dòng rỗng\nconst linesArray = inputString\n  .split('\\n')\n  .map(line => line.trim())\n  .filter(line => line !== \"\");\n\n// Trả về mảng object để n8n xử lý tiếp\nreturn linesArray.map(line => ({ comment_status: line }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        -368
      ],
      "id": "280b55c8-fed4-443d-af69-63fe3f962f75",
      "name": "Code"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3200,
        -240
      ],
      "id": "6a11e420-07a8-4f05-9d37-ab949015bd42",
      "name": "Wait",
      "webhookId": "311f3e9d-3397-47b2-b139-6abe588fa274"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Google Sheets').item.json[\"Trạng Thái Đăng\"] }}",
                    "rightValue": 603490756190502,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "6a11b8ae-c294-4547-acef-2f3dec65760a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tiện Ích Mọi Nhà"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6b7abe98-7757-4504-8ed9-b73497b344ea",
                    "leftValue": "={{ $('Google Sheets').item.json[\"Trạng Thái Đăng\"] }}",
                    "rightValue": 714667461724221,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Gia Dụng Giá Tốt "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1c41245a-19a2-4751-a95c-705fa7d06d8e",
                    "leftValue": "={{ $('Google Sheets').item.json[\"Trạng Thái Đăng\"] }}",
                    "rightValue": 656708390864429,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Gia Dụng Mọi Nhà "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b735114e-d36f-4177-b7c5-c4943f1f6fd7",
                    "leftValue": "={{ $('Google Sheets').item.json[\"Trạng Thái Đăng\"] }}",
                    "rightValue": 663128990217389,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tạp Hoá Xanh "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "98ec4006-8ae7-4283-a804-30d94bf96335",
                    "leftValue": "={{ $('Google Sheets').item.json[\"Trạng Thái Đăng\"] }}",
                    "rightValue": 692768803911413,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tổng Kho Gia Dụng "
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2544,
        624
      ],
      "id": "3bbcdf07-9c5f-472d-a8f2-0ba9cad1a20d",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=**Bạn chỉ cần trả về đúng một câu duy nhất, không giải thích, không mô tả, không giới thiệu.\nHãy viết một câu tương tự câu mẫu sau, có sử dụng icon để câu nói sinh động hơn:\n\"Chào bạn, mình gửi bạn link sản phẩm nhé ạ: {{ $('Code1').item.json.LinkShopee }}\"\nLưu ý:\n- Giữ nguyên hoàn toàn chuỗi: {{ $('Code1').item.json.LinkShopee }}\n- Không thêm text trước câu trả lời.\n- Chỉ trả về câu hoàn chỉnh dạng như:\n\"Chào bạn 👋, mình gửi bạn link sản phẩm nè, xem thử nha: {{ $('Code1').item.json.LinkShopee }} ✨\"**",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        4592,
        384
      ],
      "id": "25f79848-506c-48ef-9a27-85f774cece37",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4592,
        560
      ],
      "id": "1b5cdbd2-97ae-4746-bdcb-2ef469f6f778",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "ui0ULTnV5CioljxV",
          "name": "Rep Commet"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v24.0/{{ $('Webhook1').item.json.body.entry[0].changes[0].value.comment_id }}/comments ",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.output }}"
            },
            {
              "name": "access_token",
              "value": "={{ $('HTTP Request5').item.json.body.access_token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5008,
        384
      ],
      "id": "a0b9a968-7fd9-4cdc-a48a-5e7fe1539929",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v24.0/{{ $('Google Sheets').item.json['Trạng Thái Đăng'] }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "name,access_token"
            },
            {
              "name": "access_token",
              "value": "EAATc2rOiDYsBP1CmYOwZAf8pNcZCZB6UMVCYc5rkzWJDOuI3oQG4cq3ZAjlLVHRZAt4WZCjBVeqB7i7YTCY65S7V9wHXEIHtL8JqVZAc3WNNReRjMsOaVgo3ifzUP4EN8HyeNnlBszqxtGstT2iweHlZAVVDjmaP6GDXy2DgZCyHZAy9aXJ961IXkrNzxwWnBZB"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3728,
        384
      ],
      "id": "2bb3369f-e82c-48af-afcf-c77e3b36ed31",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=**Bạn chỉ cần trả về đúng một câu duy nhất, không giải thích, không mô tả, không giới thiệu.\nHãy viết một câu tương tự câu mẫu sau, có sử dụng icon để câu nói sinh động hơn:\n\"Chào bạn, mình gửi bạn link sản phẩm nhé ạ: {{ $('Code1').item.json.LinkShopee }}\"\nLưu ý:\n- Giữ nguyên hoàn toàn chuỗi: {{ $('Code1').item.json.LinkShopee }}\n- Không thêm text trước câu trả lời.\n- Chỉ trả về câu hoàn chỉnh dạng như:\n\"Chào bạn 👋, mình gửi bạn link sản phẩm nè, xem thử nha: {{ $('Code1').item.json.LinkShopee }} ✨\"**",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        4560,
        688
      ],
      "id": "c00f45e9-57b1-4838-a78d-494c66657e38",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4560,
        864
      ],
      "id": "b5bfa96c-5fbc-4cef-a8ca-178b5afde4f3",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "ui0ULTnV5CioljxV",
          "name": "Rep Commet"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v24.0/{{ $('Webhook1').item.json.body.entry[0].changes[0].value.comment_id }}/comments ",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.output }}"
            },
            {
              "name": "access_token",
              "value": "={{ $('HTTP Request7').item.json.body.access_token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4992,
        688
      ],
      "id": "4c6e8d13-6452-4c7d-996e-7f6b2168d490",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v24.0/{{ $('Google Sheets').item.json['Trạng Thái Đăng'] }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "name,access_token"
            },
            {
              "name": "access_token",
              "value": "EAATc2rOiDYsBP1CmYOwZAf8pNcZCZB6UMVCYc5rkzWJDOuI3oQG4cq3ZAjlLVHRZAt4WZCjBVeqB7i7YTCY65S7V9wHXEIHtL8JqVZAc3WNNReRjMsOaVgo3ifzUP4EN8HyeNnlBszqxtGstT2iweHlZAVVDjmaP6GDXy2DgZCyHZAy9aXJ961IXkrNzxwWnBZB"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3728,
        688
      ],
      "id": "ce12f980-9b3d-46c2-941d-55ee395a9f05",
      "name": "HTTP Request7"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=**Bạn chỉ cần trả về đúng một câu duy nhất, không giải thích, không mô tả, không giới thiệu.\nHãy viết một câu tương tự câu mẫu sau, có sử dụng icon để câu nói sinh động hơn:\n\"Chào bạn, mình gửi bạn link sản phẩm nhé ạ: {{ $('Code1').item.json.LinkShopee }}\"\nLưu ý:\n- Giữ nguyên hoàn toàn chuỗi: {{ $('Code1').item.json.LinkShopee }}\n- Không thêm text trước câu trả lời.\n- Chỉ trả về câu hoàn chỉnh dạng như:\n\"Chào bạn 👋, mình gửi bạn link sản phẩm nè, xem thử nha: {{ $('Code1').item.json.LinkShopee }} ✨\"**",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        4560,
        1008
      ],
      "id": "5b83c1ac-ba27-4d9f-bb5d-338992e87fa1",
      "name": "AI Agent4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4560,
        1184
      ],
      "id": "7e2bfaa8-10a3-4585-936e-fdbb4221f8ae",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "ui0ULTnV5CioljxV",
          "name": "Rep Commet"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v24.0/{{ $('Webhook1').item.json.body.entry[0].changes[0].value.comment_id }}/comments ",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.output }}"
            },
            {
              "name": "access_token",
              "value": "={{ $('HTTP Request9').item.json.body.access_token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4992,
        1008
      ],
      "id": "f29d44bd-840a-412a-a459-cdc93d63ffd9",
      "name": "HTTP Request8"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v24.0/{{ $('Google Sheets').item.json['Trạng Thái Đăng'] }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "name,access_token"
            },
            {
              "name": "access_token",
              "value": "EAATc2rOiDYsBP1CmYOwZAf8pNcZCZB6UMVCYc5rkzWJDOuI3oQG4cq3ZAjlLVHRZAt4WZCjBVeqB7i7YTCY65S7V9wHXEIHtL8JqVZAc3WNNReRjMsOaVgo3ifzUP4EN8HyeNnlBszqxtGstT2iweHlZAVVDjmaP6GDXy2DgZCyHZAy9aXJ961IXkrNzxwWnBZB"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3728,
        1008
      ],
      "id": "7ef2f58e-2fe5-4cac-a010-8ef17998469e",
      "name": "HTTP Request9"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=**Bạn chỉ cần trả về đúng một câu duy nhất, không giải thích, không mô tả, không giới thiệu.\nHãy viết một câu tương tự câu mẫu sau, có sử dụng icon để câu nói sinh động hơn:\n\"Chào bạn, mình gửi bạn link sản phẩm nhé ạ: {{ $('Code1').item.json.LinkShopee }}\"\nLưu ý:\n- Giữ nguyên hoàn toàn chuỗi: {{ $('Code1').item.json.LinkShopee }}\n- Không thêm text trước câu trả lời.\n- Chỉ trả về câu hoàn chỉnh dạng như:\n\"Chào bạn 👋, mình gửi bạn link sản phẩm nè, xem thử nha: {{ $('Code1').item.json.LinkShopee }} ✨\"**",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        4560,
        1328
      ],
      "id": "84c11311-d16a-4eaa-929e-9eb051048a81",
      "name": "AI Agent5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4560,
        1504
      ],
      "id": "1c6d14a7-7aa8-45bd-869d-f2b807513edb",
      "name": "Google Gemini Chat Model5",
      "credentials": {
        "googlePalmApi": {
          "id": "ui0ULTnV5CioljxV",
          "name": "Rep Commet"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v24.0/{{ $('Webhook1').item.json.body.entry[0].changes[0].value.comment_id }}/comments ",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.output }}"
            },
            {
              "name": "access_token",
              "value": "={{ $('HTTP Request11').item.json.body.access_token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4992,
        1328
      ],
      "id": "61fb7490-584d-4379-9ceb-628f0f2a4225",
      "name": "HTTP Request10"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v24.0/{{ $('Google Sheets').item.json['Trạng Thái Đăng'] }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "name,access_token"
            },
            {
              "name": "access_token",
              "value": "EAATc2rOiDYsBP1CmYOwZAf8pNcZCZB6UMVCYc5rkzWJDOuI3oQG4cq3ZAjlLVHRZAt4WZCjBVeqB7i7YTCY65S7V9wHXEIHtL8JqVZAc3WNNReRjMsOaVgo3ifzUP4EN8HyeNnlBszqxtGstT2iweHlZAVVDjmaP6GDXy2DgZCyHZAy9aXJ961IXkrNzxwWnBZB"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3728,
        1328
      ],
      "id": "2d10d66a-fc11-4127-806f-a48214a89da9",
      "name": "HTTP Request11"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4592,
        240
      ],
      "id": "265480d6-bbe7-4ae8-834f-1c74ce341c16",
      "name": "Tiện Ích Mọi Nhà - caodungiib1",
      "credentials": {
        "googlePalmApi": {
          "id": "ui0ULTnV5CioljxV",
          "name": "Rep Commet"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Lấy chuỗi link từ Google Sheets\nconst gs = $item(0).$node[\"Google Sheets\"].json;\nconst text = gs[\"Link Shopee\"];\n\n// Tách theo xuống dòng (cả \\n hoặc \\r\\n)\nconst links = text.split(/\\r?\\n/).map(l => l.trim()).filter(l => l !== '');\n\n// Random 1 link trong danh sách\nconst randomLink = links[Math.floor(Math.random() * links.length)];\n\n// Tạo đoạn random để tránh spam Facebook\nconst randomParam = Math.random().toString(36).substring(2, 8);\n\n// Gắn UTM/tham số random vào link Shopee\nconst finalLink = `${randomLink}?fb=${randomParam}`;\n\nreturn [\n  {\n    json: {\n      LinkShopee: finalLink\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        688
      ],
      "id": "ba1882f8-5135-4bfc-b33b-b4ae5f1a692e",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "// Lấy chuỗi link từ Google Sheets\nconst gs = $item(0).$node[\"Google Sheets1\"].json;\nconst text = gs[\"Link Shopee\"];\n\n// Tách theo xuống dòng (cả \\n hoặc \\r\\n)\nconst links = text.split(/\\r?\\n/).map(l => l.trim()).filter(l => l !== '');\n\n// Random 1 link trong danh sách\nconst randomLink = links[Math.floor(Math.random() * links.length)];\n\n// Tạo đoạn random để tránh spam Facebook\nconst randomParam = Math.random().toString(36).substring(2, 8);\n\n// Gắn UTM/tham số random vào link Shopee\nconst finalLink = `${randomLink}?fb=${randomParam}`;\n\nreturn [\n  {\n    json: {\n      LinkShopee: finalLink\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        -240
      ],
      "id": "871b3014-e228-464e-b439-996484e27173",
      "name": "Code3"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3472,
        64
      ],
      "id": "4076c120-1454-409d-8c64-14f5c6e798cc",
      "name": "Wait1",
      "webhookId": "3c2cbbe6-ddae-4a7a-b2cb-2b206905c6ba"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3472,
        384
      ],
      "id": "2c1ab157-6ad4-4b99-874f-72d7e155f69c",
      "name": "Wait2",
      "webhookId": "52aa2f47-5265-4744-bade-195087699eb9"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3472,
        688
      ],
      "id": "ff9fd3f1-f142-4693-a400-e8b3a19926c5",
      "name": "Wait3",
      "webhookId": "3b8d0762-80d4-4446-9634-dc27a96b275c"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3472,
        1008
      ],
      "id": "d25a3ec1-aade-4949-a59c-66e14d3e6a21",
      "name": "Wait4",
      "webhookId": "d8d30126-6bb3-4517-8fbe-27a78f32dfef"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3472,
        1328
      ],
      "id": "0a84012e-5e2a-4023-b04d-7cbb0245f392",
      "name": "Wait5",
      "webhookId": "c5f9dc72-85b3-47eb-af0e-a6ce8f054ac8"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v24.0/{{ $('Webhook1').item.json.body.entry[0].changes[0].value.comment_id }}/comments",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('HTTP Request1').item.json.body.access_token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3904,
        64
      ],
      "id": "876931b4-f9ab-41b1-8637-97f0262c50cb",
      "name": "HTTP Request15"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json.body.data;\n\n// Nếu mảng data có ít nhất 1 reply\nif (Array.isArray(data) && data.length > 0) {\n    return [{ status: \"ĐÃ REP COMMENT\", replied: true }];\n} else {\n    return [{ status: \"CHƯA REP COMMENT\", replied: false }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4112,
        64
      ],
      "id": "1d99ee10-ae76-4d08-9c82-7edea317a6c5",
      "name": "Code4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "84d5de05-ac51-4114-9f62-39f27f715d15",
              "leftValue": "={{ $json.status }}",
              "rightValue": "CHƯA REP COMMENT",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4320,
        64
      ],
      "id": "22537986-b32d-4855-bc93-8a9cb0deb926",
      "name": "If4"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v24.0/{{ $('Webhook1').item.json.body.entry[0].changes[0].value.comment_id }}/comments",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('HTTP Request5').item.json.body.access_token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3920,
        384
      ],
      "id": "6e360b2f-cfc2-41be-ba8f-07b69c9cc075",
      "name": "HTTP Request16"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json.body.data;\n\n// Nếu mảng data có ít nhất 1 reply\nif (Array.isArray(data) && data.length > 0) {\n    return [{ status: \"ĐÃ REP COMMENT\", replied: true }];\n} else {\n    return [{ status: \"CHƯA REP COMMENT\", replied: false }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4128,
        384
      ],
      "id": "aad10aa7-b1f8-4bfe-a029-92371c83946c",
      "name": "Code5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "84d5de05-ac51-4114-9f62-39f27f715d15",
              "leftValue": "={{ $json.status }}",
              "rightValue": "CHƯA REP COMMENT",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4352,
        384
      ],
      "id": "947fd634-430b-4b51-b95b-a4de52e34d7d",
      "name": "If5"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v24.0/{{ $('Webhook1').item.json.body.entry[0].changes[0].value.comment_id }}/comments",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('HTTP Request7').item.json.body.access_token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3920,
        688
      ],
      "id": "2dddf70c-9e12-45ef-9f50-68d37f5460f3",
      "name": "HTTP Request17"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json.body.data;\n\n// Nếu mảng data có ít nhất 1 reply\nif (Array.isArray(data) && data.length > 0) {\n    return [{ status: \"ĐÃ REP COMMENT\", replied: true }];\n} else {\n    return [{ status: \"CHƯA REP COMMENT\", replied: false }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4144,
        688
      ],
      "id": "683ea48f-6761-49e9-abc0-e90ac7da5685",
      "name": "Code6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "84d5de05-ac51-4114-9f62-39f27f715d15",
              "leftValue": "={{ $json.status }}",
              "rightValue": "CHƯA REP COMMENT",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4352,
        688
      ],
      "id": "e7894da4-5500-41bf-9e87-8f466867867f",
      "name": "If6"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v24.0/{{ $('Webhook').item.json.body.entry[0].changes[0].value.comment_id }}/comments",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('HTTP Request9').item.json.body.access_token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3920,
        1008
      ],
      "id": "eb3dc381-eb50-4e63-8118-4ae551bc67db",
      "name": "HTTP Request18"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json.body.data;\n\n// Nếu mảng data có ít nhất 1 reply\nif (Array.isArray(data) && data.length > 0) {\n    return [{ status: \"ĐÃ REP COMMENT\", replied: true }];\n} else {\n    return [{ status: \"CHƯA REP COMMENT\", replied: false }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4144,
        1008
      ],
      "id": "8fd7d5a8-ba8d-4489-9ffd-13d60d22e942",
      "name": "Code7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "84d5de05-ac51-4114-9f62-39f27f715d15",
              "leftValue": "={{ $json.status }}",
              "rightValue": "CHƯA REP COMMENT",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4352,
        1008
      ],
      "id": "00cc437e-c00f-4c78-8015-c14ffa4bf8da",
      "name": "If7"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v24.0/{{ $('Webhook1').item.json.body.entry[0].changes[0].value.comment_id }}/comments",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('HTTP Request11').item.json.body.access_token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3952,
        1328
      ],
      "id": "e50f9216-66e2-4647-ae6d-81852d151d65",
      "name": "HTTP Request19"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json.body.data;\n\n// Nếu mảng data có ít nhất 1 reply\nif (Array.isArray(data) && data.length > 0) {\n    return [{ status: \"ĐÃ REP COMMENT\", replied: true }];\n} else {\n    return [{ status: \"CHƯA REP COMMENT\", replied: false }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4160,
        1328
      ],
      "id": "56baf17d-4479-4ab7-bf9c-59b2fb6e770b",
      "name": "Code8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "84d5de05-ac51-4114-9f62-39f27f715d15",
              "leftValue": "={{ $json.status }}",
              "rightValue": "CHƯA REP COMMENT",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4368,
        1328
      ],
      "id": "7fb7b239-47c0-4d67-95e3-d31888afe525",
      "name": "If8"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        848,
        528
      ],
      "id": "a2994c7a-95a1-4c44-b278-5b2ebb3fbf12",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        848,
        720
      ],
      "id": "fd78b5fd-0cc5-4fde-8614-86a83800a585",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "multipleMethods": true,
        "path": "Comment",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        624,
        704
      ],
      "id": "5ed5c813-35d9-4cd9-8358-52e32e830c35",
      "name": "Webhook1",
      "webhookId": "648175ce-c8ec-4ea5-81a9-a5e091c9054b"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-11-03T03:23:06.047Z",
      "updatedAt": "2025-11-03T03:23:06.047Z",
      "role": "workflow:owner",
      "workflowId": "OuGNpyXHCwobOByD",
      "projectId": "VvOpQREyNmeQDBZe"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2026-01-01T16:53:53.000Z",
  "versionId": "4d0913a0-837e-48f8-8a20-77e601778635"
}